* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active, button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header__floors, .header__log, .header__cabinets {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(195, 195, 195);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 95px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}
.header__container a {
  color: rgb(50, 50, 50);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.header__log a img {
  width: 80px;
  height: 60px;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: auto;
  border: 3px solid rgb(193, 193, 193);
  margin: 50px auto 0;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.content__cabinets {
  text-align: center;
  border-bottom: 3px solid rgb(193, 193, 193);
}

h1 {
  display: block;
  margin: 15px auto 15px auto;
  font-size: 30px;
  color: rgb(36, 35, 35);
}

.parent-dict {
  padding: 0px 20px 25px 20px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.parent-dict__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  width: 100%;
  height: 120px;
  border: 4px solid #55ACEE;
  margin: 20px 0 0 0;
}
.parent-dict__item a {
  display: block;
  color: black;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 20px;
  padding: 44px 0 44px 0;
}
.parent-dict__item a:hover {
  color: rgb(54, 165, 54);
}

@media (max-width: 650px) {
  .content__container {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .header__log img {
    width: 100px;
    height: 100px;
  }
  .header__container {
    position: relative;
    width: 100px;
    height: 100px !important;
  }
  .header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 140px;
  }
  .header__cabinets {
    position: absolute;
    top: 40px;
    right: 120px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    background-color: rgb(26, 171, 173);
  }
  .header__cabinets a {
    display: block;
    color: rgb(246, 242, 242);
    margin: 8px 0 0 0;
  }
  .header__floors {
    position: absolute;
    top: 40px;
    left: 120px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    background-color: rgb(26, 171, 173);
  }
  .header__floors a {
    display: block;
    color: rgb(246, 242, 242);
    margin: 8px 0 0 0;
  }
}
@media (max-width: 500px) {
  .header__cabinets {
    right: 100px;
    width: 100px;
  }
  .header__cabinets a {
    margin: 8px 0 0 5px;
  }
  .header__floors {
    left: 100px;
    width: 100px;
  }
}